body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #F0FFFF;
    color: black;
    padding: 20px;
    text-align: center;
}

/* Estilos das experiências */
.experiencias {
    margin: 20px;
}

.experiencia {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e6f7ff; /* Azul claro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex; /* Para alinhar os elementos horizontalmente */
    align-items: center; /* Para alinhar verticalmente */
    overflow: hidden; /* Esconde qualquer conteúdo que exceda o tamanho do elemento */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte em telas pequenas */
}

.experiencia:hover {
    transform: scale(1.05);
}

.logo {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    margin-right: 20px; /* Espaçamento entre o logo e o texto */
}

.empresa {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.cargo {
    color: #444; /* Um tom mais escuro para melhor contraste */
    margin-bottom: 10px;
}

.periodo {
    color: #555; /* Um tom ainda mais escuro para melhor contraste */
}

.funcoes {
    color: #666; /* Um tom ainda mais escuro para melhor contraste */
    margin-top: 10px;
}

#seta {
    position: absolute;
    height: 50px;
    left: 5%;
    top: 3%;
    cursor: pointer;
}

#logoempresa {
    height: 45px;
}

/* Media query para dispositivos móveis */
@media screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    .experiencia {
        flex-direction: column; /* Altera a direção dos elementos para empilhados */
        text-align: center; /* Centraliza o texto */
        padding: 15px; /* Ajusta o padding */
    }

    .logo {
        margin-right: 0; /* Remove o espaçamento entre o logo e o texto */
        margin-bottom: 10px; /* Adiciona espaçamento abaixo do logo */
    }

    #seta {
        height: 30px;
        left: 4%;
        top: 9%;
    }

    #logoempresa {
        height: 50px;
    }
}

/* Media query para notebooks */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        padding: 15px;
    }

    .experiencias {
        margin: 30px; /* Ajusta a margem para notebooks */
    }

    .experiencia {
        padding: 15px; /* Ajusta o padding para notebooks */
        margin-bottom: 15px; /* Ajusta o espaçamento inferior */
        flex-direction: row; /* Mantém os elementos alinhados horizontalmente */
        text-align: left; /* Alinha o texto à esquerda */
    }

    .logo {
        width: 40px; /* Ajusta o tamanho do logo para notebooks */
        margin-right: 15px; /* Ajusta o espaçamento entre o logo e o texto */
    }

    .empresa {
        font-size: 18px; /* Ajusta o tamanho da fonte para notebooks */
    }

    .cargo, .periodo, .funcoes {
        font-size: 14px; /* Ajusta o tamanho da fonte para notebooks */
    }

    #seta {
        height: 40px; /* Ajusta a altura do ícone para notebooks */
        left: 4%;
        top: 4%;
    }

    #logoempresa {
        height: 40px; /* Ajusta a altura do logo para notebooks */
    }
}

/* Media query para telas maiores (desktops) */
@media screen and (min-width: 1025px) {
    header {
        padding: 20px;
    }

    .experiencias {
        margin: 40px; /* Ajusta a margem para telas grandes */
    }

    .experiencia {
        padding: 20px; /* Ajusta o padding para telas grandes */
        margin-bottom: 20px; /* Ajusta o espaçamento inferior */
        flex-direction: row; /* Mantém os elementos alinhados horizontalmente */
    }

    .logo {
        width: 50px; /* Ajusta o tamanho do logo para telas grandes */
        margin-right: 20px; /* Ajusta o espaçamento entre o logo e o texto */
    }

    .empresa {
        font-size: 20px; /* Mantém o tamanho da fonte para telas grandes */
    }

    .cargo, .periodo, .funcoes {
        font-size: 16px; /* Ajusta o tamanho da fonte para telas grandes */
    }

    #seta {
        height: 50px; /* Mantém a altura do ícone para telas grandes */
    }

    #logoempresa {
        height: 45px; /* Mantém a altura do logo para telas grandes */
    }
}
