body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #F0FFFF;
    color: black;
    padding: 20px;
    text-align: center;
}

/* Estilos gerais para a seção de experiências */
.experiencias {
    margin: 20px;
}

.experiencia {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e6f7ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.experiencia:hover {
    transform: scale(1.05);
}

.logo {
    width: 50px;
    margin-right: 20px;
}

.empresa {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.cargo {
    color: #444;
    margin-bottom: 10px;
}

.periodo {
    color: #555;
}

.funcoes {
    color: #666;
    margin-top: 10px;
}

#seta {
    position: absolute;
    height: 50px;
    left: 5%;
    top: 3%;
    cursor: pointer;
}

#logoempresa {
    height: 45px;
}

/* Media query para dispositivos móveis */
@media screen and (max-width: 600px) {
    header {
        padding: 10px;
        font-size: 16px; /* Ajuste o tamanho da fonte para caber em telas menores */
    }

    .experiencia {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
        width: 40px; /* Reduz o tamanho do logo */
    }

    .empresa {
        font-size: 16px; /* Diminuir para telas menores */
    }

    .cargo, .periodo, .funcoes {
        font-size: 14px; /* Fonte menor para celulares */
    }

    #seta {
        height: 30px;
        left: 4%;
        top: 9%;
    }

    #logoempresa {
        height: 40px;
    }
}

/* Media query para tablets e notebooks pequenos */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        padding: 15px;
        font-size: 18px;
    }

    .experiencia {
        flex-direction: row;
        padding: 15px;
    }

    .logo {
        width: 45px;
        margin-right: 15px;
    }

    .empresa {
        font-size: 18px;
    }

    .cargo, .periodo, .funcoes {
        font-size: 16px;
    }

    #seta {
        height: 40px;
        left: 4%;
        top: 6%;
    }

    #logoempresa {
        height: 40px;
    }
}

/* Media query para desktops */
@media screen and (min-width: 1025px) and (max-width: 1400px) {
    header {
        padding: 20px;
        font-size: 20px;
    }

    .experiencia {
        flex-direction: row;
        padding: 20px;
        margin-bottom: 20px;
    }

    .logo {
        width: 50px;
        margin-right: 20px;
    }

    .empresa {
        font-size: 18px; /* Mantém tamanho moderado em desktops */
    }

    .cargo, .periodo, .funcoes {
        font-size: 16px;
    }

    #seta {
        height: 50px;
        left: 5%;
        top: 3%;
    }

    #logoempresa {
        height: 45px;
    }
}

/* Media query para desktops grandes */
@media screen and (min-width: 1401px) {
    header {
        padding: 20px;
        font-size: 20px;
    }

    .experiencia {
        flex-direction: row;
        padding: 15px;
        margin-bottom: 15px;
    }

    .logo {
        width: 45px;
        margin-right: 15px;
    }

    .empresa {
        font-size: 18px; /* Evita textos muito grandes em telas grandes */
    }

    .cargo, .periodo, .funcoes {
        font-size: 16px;
    }

    #seta {
        height: 40px;
        left: 4%;
        top: 4%;
    }

    #logoempresa {
        height: 45px;
    }
}
